html {
    box-sizing: border-box;
}
 header {
    text-shadow: #000;
 }

nav li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
}

img

body {
    font-family: Nunito;
    color: #fff;
    line-height: 1.5;
    background-image: url("ice-cream-cones.jpg");
    background-color: #7251B5;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}