html {
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

img

body {
    font-family: Nunito;
    color: #fff;
    line-height: 1.5;
    background-image: url("ice-cream-cones.jpg");
    background-color: #7251B5;
}