html {
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

img

body {
    font-family: Nunito;
    text color: #fff;
    line height: 1.5;
    background-color: #7251B5;
}